<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HKTour.DAL.Properties.Settings.gaticandaConnectionString"
            connectionString="Data Source=Sun;Initial Catalog=gaticanda;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="IM.DAL.Properties.Settings.gaticandaConnectionString"
            connectionString="Data Source=Sun;Initial Catalog=gaticanda;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="IM.DAL.Properties.Settings.ProductDBConnectionString"
            connectionString="Data Source=IMTI-PC;Initial Catalog=ProductDB;Persist Security Info=True;User ID=sa;Password=jan1na"
            providerName="System.Data.SqlClient" />
        <add name="IM.DAL.Properties.Settings.IDSDBConnectionString"
            connectionString="Data Source=IMTI-PC;Initial Catalog=IDSDB;Persist Security Info=True;User ID=sa;Password=jan1na"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>